.body {
    :global {
        .el-radio-group {
            white-space: nowrap;
        }

        .my_button {
            flex-shrink: 1;
            white-space: nowrap;
        }
    }
}

.btn {
    flex-shrink: 1;
    white-space: nowrap;
}

.sdkUpdateNotify {
    :global {
        .el-notification__title {
            font-weight: normal;
        }
    }
}

.sdkUpdateHint {
    color: #e6a23c;
    cursor: pointer;
    white-space: nowrap;
    font-size: 13px;

    &:hover {
        text-decoration: underline;
    }
}