@font-face {
  font-family: "iconfont"; /* Project id 4748577 */
  src: url('iconfont.woff2?t=1751122592197') format('woff2'),
       url('iconfont.woff?t=1751122592197') format('woff'),
       url('iconfont.ttf?t=1751122592197') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shiyongwendang:before {
  content: "\eb66";
}

.icon-APIguanli:before {
  content: "\e635";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-fanyi:before {
  content: "\e65c";
}

.icon-fanyi-01:before {
  content: "\e650";
}

.icon-dingdan:before {
  content: "\e897";
}

.icon-chajian1:before {
  content: "\e69d";
}

.icon-kaifangjiekouliebiao:before {
  content: "\e6ad";
}

.icon-close:before {
  content: "\e62a";
}

.icon-maximize:before {
  content: "\e672";
}

.icon-restore:before {
  content: "\e6be";
}

.icon-minimize:before {
  content: "\e616";
}

.icon-zhongmingming:before {
  content: "\e60d";
}

.icon-qingkong:before {
  content: "\e60e";
}

.icon-a-xunijibeifen2:before {
  content: "\e7f8";
}

.icon-a-shebeibeifen2:before {
  content: "\e7f9";
}

.icon-shili:before {
  content: "\e7fa";
}

.icon-shouyebeifen:before {
  content: "\e7fb";
}

.icon-shebei:before {
  content: "\e7fc";
}

.icon-a-shouyebeifen2:before {
  content: "\e7fd";
}

.icon-shebeibeifen:before {
  content: "\e7fe";
}

.icon-xufei:before {
  content: "\e7ff";
}

.icon-tianjiashebei:before {
  content: "\e800";
}

.icon-goumaichenggong:before {
  content: "\e801";
}

.icon-jingxiang:before {
  content: "\e802";
}

.icon-anzhuangchajian:before {
  content: "\e803";
}

.icon-shouye:before {
  content: "\e7d4";
}

.icon-kongxianxuniji:before {
  content: "\e7d7";
}

.icon-xunijibeifen:before {
  content: "\e7de";
}

.icon-shilibeifen:before {
  content: "\e7e2";
}

.icon-xuniji:before {
  content: "\e7f6";
}

.icon-jianshao:before {
  content: "\e7f2";
}

.icon-saomiao:before {
  content: "\e7f3";
}

.icon-jieru:before {
  content: "\e7f4";
}

.icon-duankai:before {
  content: "\e7f5";
}

.icon-bangding:before {
  content: "\e7f7";
}

.icon-xiazai:before {
  content: "\e7eb";
}

.icon-touping:before {
  content: "\e7ec";
}

.icon-shanchu:before {
  content: "\e7ed";
}

.icon-tuichu:before {
  content: "\e7ee";
}

.icon-chakan:before {
  content: "\e7ef";
}

.icon-qidong:before {
  content: "\e7f0";
}

.icon-keshengji:before {
  content: "\e7f1";
}

.icon-xiala:before {
  content: "\e7d8";
}

.icon-yonghu:before {
  content: "\e7d9";
}

.icon-queding:before {
  content: "\e7da";
}

.icon-chaxunbangding:before {
  content: "\e7db";
}

.icon-jiebang:before {
  content: "\e7dc";
}

.icon-ID:before {
  content: "\e7dd";
}

.icon-xufei1:before {
  content: "\e7df";
}

.icon-logo:before {
  content: "\e7e0";
}

.icon-zhankai:before {
  content: "\e7e1";
}

.icon-huanbang:before {
  content: "\e7e3";
}

.icon-shangchuan:before {
  content: "\e7e4";
}

.icon-zhongqi:before {
  content: "\e7e5";
}

.icon-quxiao:before {
  content: "\e7e6";
}

.icon-tianjia:before {
  content: "\e7e7";
}

.icon-mima:before {
  content: "\e7e8";
}

.icon-huidaodingbu:before {
  content: "\e7e9";
}

.icon-yunhangshijian:before {
  content: "\e7ea";
}

.icon-zhanghao:before {
  content: "\e7d0";
}

.icon-shell:before {
  content: "\e7d1";
}

.icon-tingzhi:before {
  content: "\e7d2";
}

.icon-renminbi:before {
  content: "\e7d3";
}

.icon-wenhao:before {
  content: "\e7d5";
}

.icon-chaxunIP:before {
  content: "\e7d6";
}

